<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>

    <h1>Hello from the Home page!</h1>
    <a href="/about">Go to About page</a>
  </body>
</html>
